<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="site/head"></div>

<body>

<!-- header -->

<div th:replace="site/header::header"></div>

<!-- header --> 

<!-- main -->

<main role="main-home-wrapper" class="container" style="margin-top: -20px">
  <div class="row">
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <article role="pge-title-content">
        <header>
          <h2><span>Alen</span> A Android FW & APP Developer.</h2>
        </header>
        <p> Have rich Android FW & APP development experience and knowledge. trying to be a APP-FULL-STACK developer.</p>
      </article>
    </section>

    <!-- left -->
    <div class="clearfix"></div>
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
      <ul class="grid-lod effect-2" id="grid">
        <figure class="effect-oscar"> <img th:src="@{/site/images/home-images/image-1.jpg}" alt="" class="img-responsive"/>
          <figcaption>
            <h2><th:block  th:text="AndroidApp" ></th:block></h2>
             </figcaption>
        </figure>
      </ul>
    </section>

    <!-- right -->
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
      <ul class="grid-lod effect-2" id="grid1">
        <figure class="effect-oscar"> <img th:src="@{/site/images/home-images/image-2.jpg}" alt="" class="img-responsive"/>
          <figcaption>
            <h2><th:block th:text="AndroidFramework" ></th:block></h2>
          </figcaption>
        </figure>
      </ul>
    </section>

    <!-- right -->
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
      <ul class="grid-lod effect-2" id="grid2">
        <figure class="effect-oscar"> <img th:src="@{/site/images/home-images/image-3.jpg}" alt="" class="img-responsive"/>
          <figcaption>
            <h2><th:block th:text="SpringBoot" ></th:block></h2>
          </figcaption>
        </figure>
      </ul>
    </section>
    <div class="clearfix"></div>
  </div>
</main>

<!-- main --> 

<!-- footer -->
<div th:replace="site/footer"></div>

</body>
</html>